.section-admin-title-left {
  text-decoration: none;
    display: block;        /* pour que chaque lien prenne toute la ligne */
    background-color: var(--primary-green);
    padding: 0.4rem 1rem;         /* espace autour du texte */
    border-radius: 0 2rem 2rem 0; /* arrondi à droite */
    font-size: clamp(1.5rem, 4vw, 1.5rem);
    margin: 2rem 0 1rem 0;        /* espace autour du titre */
    margin-top: 2rem;
    margin-bottom: 1rem;

    transition: transform 0.25s ease;

  --i: 1; /* valeur par défaut */
  width: calc(var(--i) * 10%);
}

.section-admin-title-left:hover {
   transform: scaleX(1.02);
   cursor: pointer;
}
/*nth-of-type est un sélecteur CSS qui permet de cibler un élément en fonction de sa position dans le DOM,
parmi les éléments du même type.*/

/* On incrémente automatiquement */
.section-admin-title-left:nth-of-type(1) { --i: 3.5; }
.section-admin-title-left:nth-of-type(2) { --i: 4; }
.section-admin-title-left:nth-of-type(3) { --i: 4.5; }
.section-admin-title-left:nth-of-type(4) { --i: 5; }
.section-admin-title-left:nth-of-type(5) { --i: 5.5; }
.section-admin-title-left:nth-of-type(6) { --i: 6; }
.section-admin-title-left:nth-of-type(7) { --i: 6.5; }
.section-admin-title-left:nth-of-type(8) { --i: 7; }
.section-admin-title-left:nth-of-type(9) { --i: 7.5; }
