.button {
    cursor: pointer;
    color: var(--white-main);
    background-color: var(--light-blue);
    padding: clamp(1rem, 1.2vw, 2rem);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border: none;
    border-radius: 1.5vw;
    transition: 180ms;
}

.button:hover {
    transform: scale(1.03);
    /* box-shadow: position a gauche - position en bas - intensité du flou - couleur de l'ombre */
    box-shadow: 0 0.1rem 0.2rem rgb(76, 76, 76);
    transition: 180ms;
}