footer {
    position:absolute;
    bottom: 0;
    width: 100%;
}

.vl {
  border-left: 3px solid rgb(255, 255, 255);
  height: 130px;
}

/* --- Upper Part --- */
.upperPart {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 39, 50);
}

.upperPart a{
    color: aliceblue;
    text-decoration: none;
}

/* --- Left Part --- */
.leftPart {
    display: flex;
    flex: 0.4;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
    line-height: 1.6rem;
}

.logo {
    width: 8rem;
    height: 8rem;
}

/* --- Right Part --- */
.rightPart {
    padding: 1rem;
    position: relative;
    display: flex;
    flex: 0.12;
    justify-content: space-between;
    border: 2px solid white;
}

/* --- Bottom Part --- */
.bottomPart {
    background-color: rgb(211, 211, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 5rem;
}

.bottomPart a {
    text-decoration: none;
    color: black;
}