.hero-section-container {
    position: relative;
    width: 100%;
    height: 40rem;
    z-index: -1;
}

.village-image {
    position: absolute;
    width: 100%;
    height: 40rem;
    object-fit: cover;
    opacity: 50%;
}

.top {
    position: absolute;
    font-size: 3rem;
    top: 15rem;
    left: 5rem;
}

.bottom {
    position: absolute;
    top: 20rem;
    left: 5rem;
}



