.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.tag-align {
    display: flex;
    flex-wrap: wrap; /* permet de passer à la ligne si trop long */
    gap: 2px;       /* espace entre les tags */
    align-items: center;
}

.item-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* espace entre les cartes */
    width: 100%;
}
.quote-align {
    display: flex;
    justify-content: center;   /* centre horizontalement */
    align-items: flex-start;    /* aligne en haut */
    flex-wrap: wrap;            /* passe à la ligne si besoin */
    gap: 2rem;                  /* espace entre les cartes */
    width: 100%;
    margin: 2rem 0;

}

.title-h2-center {
    display: block;
    text-align: center;
    font-size: clamp(1rem, calc(2vw + 1rem), 3rem);
    margin-top: 0.5rem;
    font-weight: bold;
}

.section-title-left {
    display: inline-block;        /* pour que la bande s’adapte au contenu */
    background-color: var(--primary-green);
    padding: 0.4rem 1rem;         /* espace autour du texte */
    border-radius: 0 2rem 2rem 0; /* arrondi à droite */
    width: 75%;                   /* trois quarts de la page */
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 2rem 0 1rem 0;        /* espace autour du titre */
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section-title-right {
    display: block;                 /* pour que la largeur fonctionne */
    background-color: var(--primary-green);      /* ton vert */
    padding: 0.4rem 1.5rem 0.4rem 3rem; /*haut, droite, bas, gauche*/
    width: 75%;
    margin-left: auto;              /* pousse la bande vers la droite */
    border-radius: 2rem 0 0 2rem; /* arrondi à gauche */
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.paragraph-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto; /* Le bloc doit occuper l'espace dispo à droite et à gauche de manière équilibré*/
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100ch; /* limite la largeur pour une meilleure lisibilité */
    font-size: clamp(1rem, 2vw, 1.3rem);
}
.button-with-margin-bottom {
    margin-bottom: 5rem;
}

.button-on-the-left {
    margin-left: 1rem;
}

.location-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.index-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .index-cards-container {
        flex-direction: column;
    }
}