.startup-card{
    background: var(--white-main);
    border: 2px solid var(--black-main);
    padding:1vw;
    border-radius:1vw;
    margin-top:2vw;
    width: clamp(16rem, 30vw, 25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startup-card img{
    width: 40%;
    margin: 1vw;
}

.tags {
    margin: 20px;
}

.tags span{
    background:#7cc48d;
    padding:5px 10px;
    border-radius:12px;
    margin-right:8px;
}

.startup-card-info p{
    margin: 5px;
}

.startup-card button {
    margin-top: 1vw;
    padding: clamp(1rem, 1.2vw, 2rem);
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: var(--light-blue);
    color: var(--white-main);
    cursor: pointer;
    transition: 180ms;
}

.startup-card button:hover {
    transform: scale(1.03);
    box-shadow: 0 0.1rem 0.2rem rgb(76, 76, 76);
    transition: 180ms;
}
