.tag {
    display: inline-block;
}

.tag button{
    cursor: pointer;
    padding: 0.5vw 1.8vw;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 1.5vw;
    border: 2px solid var(--black-main);
    transition: 180ms;
}

.tag button:hover {
    transform: scale(1.01);
    /* box-shadow: position a gauche - position en bas - intensité du flou - couleur de l'ombre */
    box-shadow: 0 0.1rem 0.2rem rgb(152, 152, 152);
    transition: 180ms;
}

.tag-active {
    border: 2px solid black;
    opacity: 1;
}

.tag-inactive {
    opacity: 0.6;
}
