services:
  backend:
    build: ./backend
    # Docker va lire la dockerfile dans backend/
    container_name: backend
    # nom du conteneur
    ports:
      - "3000:3000"
      - "5555:5555"
      # le backend est accessible sur le port localhost:3000
    volumes:
      - ./backend:/backend
      # Quand on modifiera le code, docker le verra et reloadera.
      # A gauche on a notre dossier local qui se synchronise a droite sur le dossier de docker cree
      - /backend/node_modules
      # Comme on aura pas installe node.js en local mais que docker si,
      # lui aura les node_modules mais comme on ne les a pas dans nos fichiers en local
      # il va essayer de les écraser pour se synchroniser sur nos fichiers
      # et que pour empêcher ça on crée un volume qui protege nos node_modules
    depends_on:
      - db
      # Le backend démarre après la base de données mySQL
    environment:
      DATABASE_URL: "mysql://root:password@db:3306/ma_base"
      # Le backend se connecte à MySQL via le nom du service Docker : db

  #frontend:
    #build: ./frontend
    #container_name: frontend
    #ports:
      #- "5173:5173"
    #volumes:
      #- ./frontend:/app

  db:
    image: mysql:8
    # Utilises l’image officielle de mySQL 8
    container_name: mysql
    restart: always
    # MySQL plante (ça arrive) Docker le relance immédiatement.
    environment:
      MYSQL_ROOT_PASSWORD: password
      # La base de donnée démarre avec le mot de passe
      MYSQL_DATABASE: village_by_ca_database
      # Le nom de la base de données
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      # Sauvegarde persistante des données MySQL, même si le conteneur est supprimé
volumes:
  mysql_data:
  # Crée un volume nommé mysql_data sur notre machine (on stocke les données de la database sur notre machine en phase de développement.
